@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

  
   
::before,
*::after {
  padding: 0;
  margin: 0;
}
body{

    background-color: hsl(212, 45%, 89%)

}
.box {
 display: block;
 justify-content: center;
 align-items: center;
 width: fit-content;
 height: fit-content;
 background-color: hsl(0, 0%, 100%);
 border-radius: 18px;
 margin-left: 45vw;
 margin-right: 50vw;
 margin-top: 10vh;
}
     
img {
   padding: 10px;
   padding-bottom: 0px;
   height: 200px;
   width: fit-content; 
   
  
  
}

.img {
 
  border-radius: 18px;
}

.bold {
font-family: 'Outfit', sans-serif;     
margin: 15px;      
padding-top: 0px;
font-weight: 700;
font-size: 15px;  
text-align: center;
        
}

.opacity {
  font-family: 'Outfit', sans-serif;
  padding: 15px;
  padding-top: 0px;
  font-size: 11px; 
  font-weight: 400;
  text-align: center;

}

.opacity p {
 color: hsl(216, 3%, 69%);

}  

@media (max-width: 375px) {
  .box{
    margin-left: 20vw;
    margin-right: 50vw;
    margin-top: 15vh;
 
 

}